.board,
.board-dummy {
    display: grid;
    row-gap: 3px;
    aspect-ratio: 1;
    background-color: var(--wall);
    border-style: solid;
    border-color: var(--wall);
    border-width: 3px;
}

.board .row,
.board-dummy .row {
    display: grid;
    grid-auto-flow: column;
    column-gap: 3px;
}

@media (max-height: 500px) {
    
}

@media (orientation: portrait) and (max-width: 500px), (max-height: 500px) {
    .board {
        row-gap: 2px;
        border-width: 2px;
    }
    
    .board .row {
        column-gap: 2px;
    }
}

@media (orientation: portrait) and (max-width: 250px), (max-height: 250px) {
    .board {
        row-gap: 1px;
        border-width: 1px;
    }
    
    .board .row {
        column-gap: 1px;
    }
}

.field {
    position: relative;
}

.field.selected,
.field.active,
.field.in-reach {

    cursor: pointer;
}

.wall {
    background-color: var(--wall);
}

.path,
.exit {
    background-color: var(--path);
}

/* colors */

.player-1 .dark {

    fill: var(--dark-player1);
}

.player-1 .light {

    fill: var(--light-player1);
}

.player-2 .dark {

    fill: var(--dark-player2);
}

.player-2 .light {

    fill: var(--light-player2);
}

/* svg */

.board svg {

    visibility: hidden;
}

svg.flag {

    visibility: unset;
}

.hidden {
    
    visibility: hidden;
}

.pawn.lion svg.lion,
.pawn.rooster svg.rooster,
.pawn.snake svg.snake {

    visibility: visible;
}

.field.active svg.active,
.field.in-reach svg.reach {

    visibility: visible;
}

.field.active:hover svg.active,
.field.in-reach:hover svg.reach {
    
    visibility: hidden;
}

.field.active:hover svg.hover,
.field.in-reach:hover svg.hover {

    visibility: visible;
}

.field.selected .highlight.player-1 {

    background-color: var(--light-player1);
} 

.field.selected .highlight.player-2 {

    background-color: var(--light-player2);
}

.wake {

    visibility: hidden;
}

.field.selected .wake,
.field.active:hover .wake {

    visibility: unset;
}

.pawn.player-2,
.flag.player-2 {

    transform: scaleX(-1);
}

.in-reach .left,
.in-reach .right {

    transform: rotate(90deg);
}

.in-reach:hover .left,
.in-reach:hover .right {

    transform: none;
}

.field .container,
.field svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
