:root {
    --path: hsl(51, 10%, 54%);
    --wall: hsl(51, 15%, 15%);
    --dark-player1: hsl(332, 73%, 19%);
    --light-player1: hsl(172, 55%, 81%);
    --dark-player2: hsl(216, 63%, 20%);
    --light-player2: hsl(64, 57%, 80%);
    --border: hsl(0, 0%, 0%);
    --back: hsl(0, 0%, 10%);
    --large-border-width: 3px;
    --medium-border-width: 2px;
    --small-border-width: 2px;
}

.board {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    border-style: solid;
    border-color: var(--wall);
    border-width: 0;
}


.board.large-fields {
    border-bottom-width: var(--large-border-width);
    border-right-width: var(--large-border-width);
}

.board.medium-fields {
    border-bottom-width: var(--medium-border-width);
    border-right-width: var(--medium-border-width);
}

.board.small-fields {
    border-bottom-width: var(--small-border-width);
    border-right-width: var(--small-border-width);
}

.row {
    display: flex;
}

/* .FIELD */

.field {
    position: relative;
    border-style: solid;
    border-color: var(--wall);
    border-width: 0;
}

.board.large-fields .field {
    height: 90px;
    width: 90px;
    border-top-width: var(--large-border-width);
    border-left-width: var(--large-border-width);
}

.board.medium-fields .field {
    height: 70px;
    width: 70px;
    border-top-width: var(--medium-border-width);
    border-left-width: var(--medium-border-width);
}

.board.small-fields .field {
    height: 55px;
    width: 55px;
    border-top-width: var(--small-border-width);
    border-left-width: var(--small-border-width);
}

.field.selected,
.field.active,
.field.in-reach {

    cursor: pointer;
}

.wall {
    background-color: var(--wall);
}

.path,
.exit {
    background-color: var(--path);
}


/* colors */

.player-1 .dark {

    fill: var(--dark-player1);
}

.player-1 .light {

    fill: var(--light-player1);
}

.player-2 .dark {

    fill: var(--dark-player2);
}

.player-2 .light {

    fill: var(--light-player2);
}

/* SVG VISIBILITY */

.board svg {

    visibility: hidden;
}

svg.flag {

    visibility: unset;
}

.hidden {
    
    visibility: hidden;
}

.pawn.lion svg.lion,
.pawn.rooster svg.rooster,
.pawn.snake svg.snake {

    visibility: visible;
}

.field.active svg.active,
.field.in-reach svg.reach {

    visibility: visible;
}

.field.active:hover svg.active,
.field.in-reach:hover svg.reach {
    
    visibility: hidden;
}

.field.active:hover svg.hover,
.field.in-reach:hover svg.hover {

    visibility: visible;
}

.field.selected .highlight.player-1 {

    background-color: var(--light-player1);
} 

.field.selected .highlight.player-2 {

    background-color: var(--light-player2);
}

.wake {

    visibility: hidden;
}

.field.selected .wake,
.field.active:hover .wake {

    visibility: unset;
}



.pawn.player-2,
.flag.player-2 {

    transform: scaleX(-1);
}

.in-reach .left,
.in-reach .right {

    transform: rotate(90deg);
}

.in-reach:hover .left,
.in-reach:hover .right {

    transform: none;
}

.field .container,
.field svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



@keyframes blink {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* .in-reach .pawn {

    animation: blink 1s linear infinite running;
} */

/* .in-reach:hover .pawn {

    animation-play-state: running;
} */
