.control-panel {
    background-color: var(--path);
}

.control-panel.player-1 {
    background-color: var(--light-player1);
}

.control-panel.player-2 {
    background-color: var(--light-player2);
}

.control-panel>.wrapper {
    display: grid;
}

.control-panel>.wrapper,
.portrait.narrow.very.much .control-panel>.wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "select up turn"
        "left hold right"
        "undo down redo";
}


.portrait.narrow .control-panel>.wrapper {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "a select select undo undo redo redo turn turn b"
        "left left down down hold hold up up right right";
}

/* button */

.control-panel button {
    border: none;
    background-color: transparent;
    /* background-color: var(--path); */
}

.control-panel button.active:hover {
    background-color: var(--wall);
}

.control-panel.player-1 button.active:hover {
    background-color: var(--dark-player1);
}

.control-panel.player-2 button.active:hover {
    background-color: var(--dark-player2);
}

.control-panel button.active {
    cursor: pointer;
}

.control-panel button .container {
    opacity: 0.3;
}

.control-panel button.active .container {
    opacity: 1;
}

.control-panel button .dark {
    fill: var(--wall);
}

.control-panel.player-1 button .dark {
    fill: var(--dark-player1);
}

.control-panel.player-2 button .dark {
    fill: var(--dark-player2);
}

.control-panel button.active:hover .dark {
    fill: var(--path);
}

.control-panel.player-1 button.active:hover .dark {
    fill: var(--light-player1);
}

.control-panel.player-2 button.active:hover .dark {
    fill: var(--light-player2);
}

button.select {
    grid-area: select;
}

button.up {
    grid-area: up;
}

button.turn {
    grid-area: turn;
}

button.left {
    grid-area: left;
}

button.hold {
    grid-area: hold;
}

button.right {
    grid-area: right;
}

button.undo {
    grid-area: undo;
}

button.down {
    grid-area: down;
}

button.redo {
    grid-area: redo;
}

button.right .container {
    transform: rotate(90deg);
}

button.down .container {
    transform: rotate(180deg);
}

button.left .container {
    transform: rotate(270deg);
}

button.redo .container {
    transform: scaleX(-1);
}
