* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --path: hsl(51, 10%, 54%);
    --wall: hsl(51, 15%, 15%);
    --neutral-light: hsl(51, 10%, 85%);
    
    --red-dark: hsl(0, 39%, 27%);
    --red-light: hsl(0, 49%, 91%);
    --orange-dark: hsl(30, 69%, 22%);
    --orange-light: hsl(31, 49%, 87%);
    --yellow-dark: hsl(60, 100%, 14%);
    --yellow-light: hsl(60, 38%, 85%);
    --green-dark: hsl(110, 42%, 21%);
    --green-light: hsl(112, 40%, 89%);
    --cyan-dark: hsl(180, 63%, 18%);
    --cyan-light: hsl(180, 40%, 87%);
    --blue-dark: hsl(216, 54%, 22%);
    --blue-light: hsl(217, 51%, 88%);
    --purple-dark: hsl(268, 28%, 24%);
    --purple-light: hsl(270, 35%, 88%);
    --magenta-dark: hsl(325, 45%, 28%);
    --magenta-light: hsl(328, 46%, 89%);

    --color-player1: blue;
    --color-player2: yellow;
    --dark-player1: var(--blue-dark);
    --light-player1: var(--blue-light);
    --dark-player2: var(--yellow-dark);
    --light-player2: var(--yellow-light);
    --header-height: 5vh;
    --header-height-portrait: 3vh;
    --main-height: calc(100vh - 2 * var(--header-height));
}

html,
button,
input {
    font-family: Verdana, Tahoma, sans-serif;
}

html,
body,
#root,
main {
    height: 100%;
}

body {
    color: var(--wall);
}

main {
    background-color: var(--path);
}

.player-panel,
.info-panel,
.menu {
    user-select: none;
}

button .container,
button svg,
.button svg {
    width: 100%;
    height: 100%;
    font-size: 0;
}

svg .dark {
    fill: var(--wall);
}

svg .light {
    fill: var(--neutral-light);
}