:root {
    /* --path: hsl(45, 8%, 46%); */
    --path: hsl(60, 10%, 58%);
    --wall: hsl(50, 10%, 20%);
    --pink: hsl(330, 100%, 90%);
    --blue: hsl(200, 100%, 85%);
    --pink-tsp: hsla(320, 100%, 89%, 0.4);
    --pink-tsp2: hsla(320, 100%, 89%, 0.2);
    --blue-tsp: hsla(203, 100%, 86%, 0.4);
    --blue-tsp2: hsla(203, 100%, 86%, 0.2);
    --border: hsl(0, 0%, 0%);
    --back: hsl(0, 0%, 10%);
    --pink-flag: url(../img/flag_pink_256.png);
    --pink-lion-wake: url(../img/lion_pink_wake_256.png);
    --pink-lion-sleep: url(../img/lion_pink_sleep_256.png);
    --pink-rooster-wake: url(../img/rooster_pink_wake_256.png);
    --pink-rooster-sleep: url(../img/rooster_pink_sleep_256.png);
    --pink-snake-wake: url(../img/snake_pink_wake_256.png);
    --pink-snake-sleep: url(../img/snake_pink_sleep_256.png);
    --pink-active: url(../img/active_pink_256.png);
    --pink-reach: url(../img/reach_pink_256.png);
    --pink-reach-h: url(../img/reach_h_pink_256.png);
    --pink-hover: url(../img/hover_pink_256.png);
    --blue-flag: url(../img/flag_blue_256.png);
    --blue-lion-wake: url(../img/lion_blue_wake_256.png);
    --blue-lion-sleep: url(../img/lion_blue_sleep_256.png);
    --blue-rooster-wake: url(../img/rooster_blue_wake_256.png);
    --blue-rooster-sleep: url(../img/rooster_blue_sleep_256.png);
    --blue-snake-wake: url(../img/snake_blue_wake_256.png);
    --blue-snake-sleep: url(../img/snake_blue_sleep_256.png);
    --blue-active: url(../img/active_blue_256.png);
    --blue-reach: url(../img/reach_blue_256.png);
    --blue-reach-h: url(../img/reach_h_blue_256.png);
    --blue-hover: url(../img/hover_blue_256.png);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: var(--path);
}

.maze {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--wall);
    border-style: solid; 
    border-width: 0 0 2px 2px;
    border-color: var(--wall);
    /* border: solid 1px var(--border); */
}

.row {
    display: flex;
    flex-direction: row;
}

.field {
    position: relative;
    height: 66px;
    width: 66px;
    border-style: solid; 
    border-width: 2px 2px 0 0;
    border-color: var(--wall);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.field>p,
.field>.pawn {
    position: absolute;
}

.field.wall {
    background-color: var(--wall);
}

.field.path {
    background-color: var(--path);
}

.field.exit {
    background-color: var(--path);
}
.pawn,
.flag {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.active,
.reach {
    cursor: pointer;
}



.endgame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.3);
}

.endgame>p {
    padding: 5px 0;
    font-size: 3em;
    font-family: Impact;
    color: white;
}

.endgame>p:first-of-type {
    font-size: 4em;
}

/* PINK */

.pink.selected {
    background-color: var(--pink);
}

.flag.pink {
    background-image: var(--pink-flag);
}

.lion.pink {
    background-image: var(--pink-lion-sleep);
}

.rooster.pink {
    background-image: var(--pink-rooster-sleep);
}

.snake.pink {
    background-image: var(--pink-snake-sleep);
}

.lion.pink.active {
    background-image: var(--pink-lion-sleep), var(--pink-active);
}

.rooster.pink.active {
    background-image: var(--pink-rooster-sleep), var(--pink-active);
}

.snake.pink.active {
    background-image: var(--pink-snake-sleep), var(--pink-active);
}

.lion.pink.active:hover {
    background-image: var(--pink-lion-wake), var(--pink-hover);
}

.rooster.pink.active:hover {
    background-image: var(--pink-rooster-wake), var(--pink-hover);
}

.snake.pink.active:hover {
    background-image: var(--pink-snake-wake), var(--pink-hover);
}

.lion.pink.active.selected {
    background-image: var(--pink-lion-wake);
}

.rooster.pink.active.selected {
    background-image: var(--pink-rooster-wake);
}

.snake.pink.active.selected {
    background-image: var(--pink-snake-wake);
}

.field.reach-pink {
    background-image: var(--pink-reach);
}

.field.reach-pink.horizontal {
    background-image: var(--pink-reach-h);
}

.field.reach-pink:hover {
    background-image: var(--pink-hover);
}

/* BLUE */

.blue.selected {
    background-color: var(--blue);
}

.flag.blue {
    background-image: var(--blue-flag);
}

.lion.blue {
    background-image: var(--blue-lion-sleep);
}

.rooster.blue {
    background-image: var(--blue-rooster-sleep);
}

.snake.blue {
    background-image: var(--blue-snake-sleep);
}

.lion.blue.active {
    background-image: var(--blue-lion-sleep), var(--blue-active);
}

.rooster.blue.active {
    background-image: var(--blue-rooster-sleep), var(--blue-active);
}

.snake.blue.active {
    background-image: var(--blue-snake-sleep), var(--blue-active);
}

.lion.blue.active:hover {
    background-image: var(--blue-lion-wake), var(--blue-hover);
}

.rooster.blue.active:hover {
    background-image: var(--blue-rooster-wake), var(--blue-hover);
}

.snake.blue.active:hover {
    background-image: var(--blue-snake-wake), var(--blue-hover);
}

.lion.blue.active.selected {
    background-image: var(--blue-lion-wake);
}

.rooster.blue.active.selected {
    background-image: var(--blue-rooster-wake);
}

.snake.blue.active.selected {
    background-image: var(--blue-snake-wake);
}

.field.reach-blue {
    background-image: var(--blue-reach);
}

.reach-blue.horizontal {
    background-image: var(--blue-reach-h);
}

.field.reach-blue:hover {
    background-image: var(--blue-hover);
}