header .menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    position: relative;
}

.button {
    cursor: pointer;
}

.menu>.hidden-container {
    height: 100%;
    /* text-align: right; */
}

.menu>.hidden-container>.button {
    height: var(--header-height);
    width: var(--header-height);
    background-color: var(--path);
}

.menu .button {
    background-color: var(--path);
}

.menu .button .dark {
    fill: var(--wall);
}

.menu .button:hover {
    background-color: var(--wall);
}

.menu .button:hover .dark {
    fill: var(--path);
}

.menu .hidden-container.collapsed>.cover,
.menu .hidden-container.collapsed>.content {
    display: none;
}

.menu .cover {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* backdrop-filter: blur(1px); */
}

.menu>.hidden-container>.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    color: var(--wall);
    background-color: var(--path);
    border-style: solid;
    border-color: var(--wall);
    border-width: 0 0 1vh 1vh;
}

.content>.hidden-container>.button {
    padding: 2vh 4vh;
    font-size: 5vh;
    font-weight: bold;
    color: var(--wall);
}

.content>.hidden-container>.button:hover {
    color: var(--path);
    background-color: var(--wall);
}

.window {
    background-color: var(--path);
    border: 1vh solid var(--wall);
}



.fixed-window {
    z-index: 10;
    position: fixed;
    top: 3vh;
    bottom: 3vh;
    left: 3vw;
    right: 3vw;
}

.window .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.window>.close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 5vh;
    height: 5vh;
}

.window .panel {
    width: 100%;
    height: 100%;
    padding: 5vh 2vh 2vh 4vh;
}

.rules {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.rules-line {
    font-size: 6vh;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 1vh;
  }
  
::-webkit-scrollbar-track {
    /* background: var(--path); */
}
  
::-webkit-scrollbar-thumb {
    background: var(--wall);
}

/* colors-panel */

.change-colors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.change-colors .player-icon {
    width: 10vh;
    height: 10vh;
}

.change-colors .color-sample {
    width: 10vh;
    height: 10vh;
    border-radius: 33%;
}

.change-colors .button {
    width: 5vh;
    height: 5vh;
}

.change-colors .button.next {
    transform: rotate(90deg);
}

.change-colors .button.prev {
    transform: rotate(-90deg);
}



.player-1 .color-sample.light {
    background-color: var(--light-player1);
}

.player-2 .color-sample.light {
    background-color: var(--light-player2);
}

.player-1 .color-sample.dark {
    background-color: var(--dark-player1);
}

.player-2 .color-sample.dark {
    background-color: var(--dark-player2);
}





@media (orientation: portrait) {

    .menu>.hidden-container>.container {
        border-width: 1vw;
    }

    .menu>.hidden-container>.button {
        height: var(--header-height-portrait);
        width: var(--header-height-portrait);
    }

    .menu .option-text {
        padding: 2vw 4vw;
        font-size: 5vw;
    }

    .rules-panel {
        padding: 2vw;
    }

    .rules-line {
        font-size: 6vw;
    }
}

@media (orientation: portrait) and (max-height: 900px) {
    .fixed-window {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media (max-width: 900px) {
    .fixed-window {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}