.menu .button {
    cursor: pointer;
}

.menu>.dropdown-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.menu>.dropdown-container>.button {
    height: 5vh;
    width: 5vh;
    background-color: var(--path);
}

@media (orientation: portrait) {

    .menu>.dropdown-container>.button {
        height: 5vw;
        width: 5vw;
    }
}

.menu .button {
    background-color: var(--path);
}

.menu .button .dark {
    fill: var(--wall);
}

.menu .button:hover {
    color: var(--path);
    background-color: var(--wall);
}

.menu .button:hover .dark {
    fill: var(--path);
}

.menu .panel {
    display: flex;
    flex-direction: column;
}

.end-game-panel .button {
    padding: 1vh 2vh;
    font-size: 5vh;
    font-weight: bold;
    color: var(--wall);
    border: none;
}

.menu .dropdown-container.collapsed>.cover,
.menu .dropdown-container.collapsed>.content {
    display: none;
}

.menu .cover {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* backdrop-filter: blur(1px); */
}

.menu>.dropdown-container>.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    color: var(--wall);
    background-color: var(--path);
    border-style: solid;
    border-color: var(--wall);
    border-width: 0 0 1vh 1vh;
}

.dropdown-container>.content>.button {
    padding: 2vh 4vh;
    font-size: 5vh;
    font-weight: bold;
    /* color: var(--wall); */
}

@media (orientation: portrait) {

    .menu>.dropdown-container>.content {
        border-width: 0 0 1vw 1vw;
    }

    .dropdown-container>.content>.button {
        padding: 2vw 4vw;
        font-size: 5vw;
    }
}

.content>.dropdown-container>.button:hover {
    color: var(--path);
    background-color: var(--wall);
}

.window {
    background-color: var(--path);
    border: 1vh solid var(--wall);
}

.fixed-window {
    z-index: 10;
    position: fixed;
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
}

.window .cover {
    z-index: -1;
}

.window .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.window>.close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 5vh;
    height: 5vh;
}

.window .panel {
    width: 100%;
    height: 100%;
    padding: 5vh 2vh 2vh 4vh;
}

.rules {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.rules-line {
    font-size: 6vh;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 1vh;
  }
  
/* ::-webkit-scrollbar-track {
    background: var(--path);
} */
  
::-webkit-scrollbar-thumb {
    background: var(--wall);
}

/* colors-panel */

.change-colors {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.change-colors .player-name {
    flex-basis: 50%;
    font-size: 10vh;
    font-weight: bold;
}


.change-colors .player-icon {
    width: 20vh;
    height: 20vh;
}

.change-colors .color-sample {
    width: 20vh;
    height: 20vh;
    border-radius: 33%;
}


.list-preview {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.menu .button.next,
.menu .button.prev {
    width: 10vh;
    height: 10vh;
}

.menu .button.next {
    transform: rotate(90deg);
}

.menu .button.prev {
    transform: rotate(-90deg);
}



.player-1 .color-sample.light {
    background-color: var(--light-player1);
}

.player-2 .color-sample.light {
    background-color: var(--light-player2);
}

.player-1 .color-sample.dark {
    background-color: var(--dark-player1);
}

.player-2 .color-sample.dark {
    background-color: var(--dark-player2);
}

@media (orientation: portrait) {

    .menu>.dropdown-container>.container {
        border-width: 0.5vw;
    }

    .menu .option-text {
        padding: 2vw 4vw;
        font-size: 5vw;
    }

    .rules-panel {
        padding: 2vw;
    }

    .rules-line {
        font-size: 6vw;
    }
}

@media (orientation: portrait) and (max-width: 500px), (max-height: 500px) {

    .menu>.dropdown-container>.button {
        height: 25px;
        width: 25px;
    }

    .menu>.dropdown-container>.content {
        border-width: 0 0 5px 5px;
    }
    
    .dropdown-container>.content>.button {
        font-size: 25px;
    }

    .fixed-window {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

